Calibração
[{"id":"e58178ad.fb459","type":"tab","label":"Calibração ","disabled":false,"info":""},{"id":"ad98b1ec.87cd8","type":"ui_button","z":"e58178ad.fb459","name":"","group":"2ec2e01d.e97008","order":11,"width":0,"height":0,"passthru":false,"label":"Sensor de Temperatura","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":430,"y":180,"wires":[[]]},{"id":"16991529.f7669b","type":"ui_button","z":"e58178ad.fb459","name":"","group":"2ec2e01d.e97008","order":12,"width":0,"height":0,"passthru":false,"label":"Sensor de Pressão","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":410,"y":240,"wires":[[]]},{"id":"94274e4d.1ab658","type":"ui_button","z":"e58178ad.fb459","name":"","group":"2ec2e01d.e97008","order":13,"width":0,"height":0,"passthru":false,"label":"Célula de Carga","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":300,"wires":[[]]},{"id":"1014bb0a.9c599d","type":"ui_button","z":"e58178ad.fb459","name":"","group":"2ec2e01d.e97008","order":14,"width":0,"height":0,"passthru":false,"label":"Tubo de Pitot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":360,"wires":[[]]},{"id":"2ec2e01d.e97008","type":"ui_group","z":"","name":"Calibration","tab":"a39ad57d.4d9288","order":1,"disp":true,"width":"6","collapse":false},{"id":"a39ad57d.4d9288","type":"ui_tab","z":"","name":"Calibration","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
