Login
[{"id":"802fa0d2.9500e","type":"tab","label":"Login","disabled":false,"info":""},{"id":"d5667d1b.9e01f","type":"ui_text_input","z":"802fa0d2.9500e","name":"","label":"Qual o motor?","tooltip":"","group":"dd0e846b.6f53f8","order":6,"width":14,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"teste","x":420,"y":460,"wires":[["ad2bdadd.53e6a","8223a6bd.99587"]]},{"id":"d5c953f6.70191","type":"ui_text_input","z":"802fa0d2.9500e","name":"","label":"Qual a hélice?","tooltip":"","group":"dd0e846b.6f53f8","order":8,"width":14,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"teste","x":420,"y":580,"wires":[["1de96ff8.44e62","930586d.404d6f8"]]},{"id":"72532431.1725e4","type":"ui_dropdown","z":"802fa0d2.9500e","name":"Estático/Dinâmico","label":"Tipo de Teste","tooltip":"","place":"Escolha a opção","group":"dd0e846b.6f53f8","order":2,"width":14,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"Teste Estático","type":"str"},{"label":"","value":"Teste Dinâmico","type":"str"}],"payload":"","topic":"teste","x":450,"y":240,"wires":[["96af612d.59c088"]]},{"id":"334c1110.8f48a6","type":"ui_dropdown","z":"802fa0d2.9500e","name":"Rotina/OpenLoop","label":"Formato do Teste","tooltip":"","place":"Escolha a opção","group":"dd0e846b.6f53f8","order":4,"width":14,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Rotina","value":"Rotina","type":"str"},{"label":"Open Loop","value":"Open Loop","type":"str"}],"payload":"","topic":"teste","x":450,"y":300,"wires":[["c99dff22.94fbe8"]]},{"id":"ad2bdadd.53e6a","type":"debug","z":"802fa0d2.9500e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":400,"wires":[]},{"id":"1de96ff8.44e62","type":"debug","z":"802fa0d2.9500e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":520,"wires":[]},{"id":"d1aad51d.8a6878","type":"inject","z":"802fa0d2.9500e","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":360,"wires":[["d5667d1b.9e01f","d5c953f6.70191","72532431.1725e4","334c1110.8f48a6"]]},{"id":"8223a6bd.99587","type":"change","z":"802fa0d2.9500e","name":"","rules":[{"t":"set","p":"motor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":460,"wires":[["b2b57f4b.4a02d"]]},{"id":"930586d.404d6f8","type":"change","z":"802fa0d2.9500e","name":"","rules":[{"t":"set","p":"helice","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":580,"wires":[["dd46724c.222f7"]]},{"id":"96af612d.59c088","type":"change","z":"802fa0d2.9500e","name":"","rules":[{"t":"set","p":"tipo_teste","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":240,"wires":[["dd081273.5ff2d"]]},{"id":"c99dff22.94fbe8","type":"change","z":"802fa0d2.9500e","name":"","rules":[{"t":"set","p":"metodo_teste","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":300,"wires":[["7c95b1ad.9b9a58"]]},{"id":"1072e387.f57354","type":"ui_button","z":"802fa0d2.9500e","name":"","group":"dd0e846b.6f53f8","order":11,"width":4,"height":1,"passthru":false,"label":"Limpar","tooltip":"","color":"","bgcolor":"#E9967A","icon":"touch_app","payload":"","payloadType":"num","topic":"","x":170,"y":440,"wires":[["72532431.1725e4","334c1110.8f48a6","d5667d1b.9e01f","d5c953f6.70191","4519ca5c.b87964"]]},{"id":"dd081273.5ff2d","type":"function","z":"802fa0d2.9500e","name":"Retorna Teste","func":"var tipo_teste = flow.get('tipo_teste');\nmsg.payload = \"O tipo de teste escolhido foi\"+ \" \" + tipo_teste;\nflow.set('tipo_teste', tipo_teste);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":240,"wires":[["7788e523.98ee04"]]},{"id":"7c95b1ad.9b9a58","type":"function","z":"802fa0d2.9500e","name":"Retorna método","func":"var metodo_teste = flow.get('metodo_teste');\nmsg.payload = \"O método escolhido foi\" + \" \" + metodo_teste;\nflow.set('metodo_teste', metodo_teste);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":300,"wires":[["7788e523.98ee04"]]},{"id":"b2b57f4b.4a02d","type":"function","z":"802fa0d2.9500e","name":"Retorna motor","func":"var motor = flow.get('motor');\nmsg.payload = \"O motor do teste é\" + \" \" + motor;\nflow.set('motor', motor);\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":460,"wires":[["7788e523.98ee04"]]},{"id":"dd46724c.222f7","type":"function","z":"802fa0d2.9500e","name":"Retorna hélice","func":"var helice = flow.get('helice');\nmsg.payload = \"A hélice do teste é\" + \" \" + helice;\nflow.set('helice', helice);\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":580,"wires":[["7788e523.98ee04"]]},{"id":"942da4c2.f0e99","type":"ui_button","z":"802fa0d2.9500e","name":"","group":"dd0e846b.6f53f8","order":12,"width":10,"height":1,"passthru":false,"label":"Confirmar","tooltip":"","color":"","bgcolor":"#87A980","icon":"thumb_up","payload":"concatenar","payloadType":"flow","topic":"","x":180,"y":760,"wires":[["a1ffc9b6.024258"]]},{"id":"7788e523.98ee04","type":"function","z":"802fa0d2.9500e","name":"teste","func":"var tipo_teste = flow.get('tipo_teste')\nvar metodo_teste = flow.get('metodo_teste')\nvar motor = flow.get('motor')\nvar helice = flow.get('helice')\n\nvar teste = tipo_teste + metodo_teste + helice + motor;\nconcatenar = [tipo_teste,metodo_teste,motor,helice];\nflow.set('concatenar', concatenar);\nflow.set('teste', teste)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":440,"wires":[[]]},{"id":"a1ffc9b6.024258","type":"function","z":"802fa0d2.9500e","name":"Variaveis","func":"str = msg.payload;\nvar Tipo_Teste = str[0];\nvar Metodo_Teste = str[1];\nvar Motor = str[2];\nvar Helice = str[3];\n\nif (Tipo_Teste || Metodo_Teste || Motor || Helice === null){\n    msg.payload=true;\n}\nelse{\n    msg.payload=false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":760,"wires":[["2967d22e.a3736e"]]},{"id":"2967d22e.a3736e","type":"switch","z":"802fa0d2.9500e","name":"Avalia input","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":760,"wires":[["88f5ec90.cf3dd"],[]]},{"id":"88f5ec90.cf3dd","type":"function","z":"802fa0d2.9500e","name":"","func":"var tipo_teste = flow.get('tipo_teste');\nvar metodo_teste = flow.get('metodo_teste');\nvar motor = flow.get('motor');\nvar helice = flow.get('helice');\n\nmsg1 = {payload: tipo_teste}\nmsg2 = {payload: metodo_teste}\nmsg3 = {payload: motor}\nmsg4 = {payload: helice}\n\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"x":730,"y":700,"wires":[[],[],[],[]]},{"id":"5e547c60.fcaa94","type":"ui_button","z":"802fa0d2.9500e","name":"Motor","group":"dd0e846b.6f53f8","order":5,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#87A980","icon":"flight","payload":"","payloadType":"str","topic":"","x":170,"y":840,"wires":[[]]},{"id":"c7fc2541.83aac8","type":"ui_button","z":"802fa0d2.9500e","name":"Hélice","group":"dd0e846b.6f53f8","order":7,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#FFCC66","icon":"toys","payload":"","payloadType":"str","topic":"","x":170,"y":960,"wires":[[]]},{"id":"9f460c5.6750ef","type":"ui_button","z":"802fa0d2.9500e","name":"Metodo","group":"dd0e846b.6f53f8","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#DAC4B4","icon":"view_list","payload":"","payloadType":"str","topic":"","x":180,"y":920,"wires":[[]]},{"id":"d0a26b48.6b3da","type":"ui_button","z":"802fa0d2.9500e","name":"Teste","group":"dd0e846b.6f53f8","order":1,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#A6BBCF","icon":"flight_takeoff","payload":"","payloadType":"str","topic":"","x":170,"y":880,"wires":[[]]},{"id":"4519ca5c.b87964","type":"link out","z":"802fa0d2.9500e","name":"","links":["6bb5987e.c74748"],"x":180,"y":540,"wires":[]},{"id":"6bb5987e.c74748","type":"link in","z":"802fa0d2.9500e","name":"","links":["4519ca5c.b87964"],"x":435,"y":660,"wires":[["88f5ec90.cf3dd"]]},{"id":"dd0e846b.6f53f8","type":"ui_group","z":"","name":"Login - Teste de Tração de Motores Brushless","tab":"597cfea2.f0bb8","order":1,"disp":true,"width":16,"collapse":false},{"id":"597cfea2.f0bb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
