NodeRed_flow
[{"id":"802fa0d2.9500e","type":"tab","label":"Login","disabled":false,"info":""},{"id":"e58178ad.fb459","type":"tab","label":"Verificação ","disabled":false,"info":""},{"id":"f10e116d.861658","type":"tab","label":"Calibração - Loadcell","disabled":false,"info":""},{"id":"bfac453e.a574","type":"tab","label":"Calibração - Pitot","disabled":false,"info":""},{"id":"2e6d4a2e.580a06","type":"tab","label":"Display","disabled":false,"info":""},{"id":"19eecdc8.2715a2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Dashboard Aero","default":"#4B7930","baseColor":"#000000","baseFont":"Courier,monospace","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":true},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#097479","edited":true},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Bancada de Teste de Tração da Equipe Aerodesign UTFPR Curitiba","hideToolbar":"true","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"597cfea2.f0bb8","type":"ui_tab","z":"","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"9bc7efc9.438468","type":"ui_spacer","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"7facb55.a16c1cc","type":"ui_spacer","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"55cfcea2.8893d8","type":"ui_spacer","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"a3364fd8.2536d8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"dd0e846b.6f53f8","type":"ui_group","z":"","name":"Login - Teste de Tração de Motores Brushless","tab":"597cfea2.f0bb8","order":1,"disp":true,"width":16,"collapse":false},{"id":"49c774c8.d09f94","type":"ui_spacer","name":"spacer","group":"8db365f.dcde498","order":4,"width":2,"height":1},{"id":"bfef93cb.58e7d8","type":"ui_spacer","name":"spacer","group":"8db365f.dcde498","order":6,"width":2,"height":1},{"id":"a39ad57d.4d9288","type":"ui_tab","z":"","name":"Checagem de todos os sensores","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2ec2e01d.e97008","type":"ui_group","z":"","name":"Checagem dos sensores","tab":"a39ad57d.4d9288","order":1,"disp":true,"width":"11","collapse":false},{"id":"b553394d.c5bd1","type":"ui_group","z":"","name":"Calibração da Célula de Carga","tab":"58c0ee68.fe7a38","order":1,"disp":true,"width":15,"collapse":false},{"id":"65274ec5.64c008","type":"ui_spacer","name":"spacer","group":"2ec2e01d.e97008","order":10,"width":1,"height":1},{"id":"58c0ee68.fe7a38","type":"ui_tab","z":"","name":"Calibração da Célula de Carga","icon":"equalizer","order":3,"disabled":false,"hidden":false},{"id":"468b1b0e.5dec5c","type":"ui_tab","z":"","name":"Calibração do Tubo de Pitot","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"595ba16e.816df8","type":"ui_group","z":"","name":"Calibração do Tubo de Pitot","tab":"468b1b0e.5dec5c","order":1,"disp":true,"width":"6","collapse":false},{"id":"803f2f29.8f9848","type":"ui_spacer","name":"spacer","group":"b553394d.c5bd1","order":8,"width":3,"height":1},{"id":"42909641.07f4c","type":"ui_spacer","name":"spacer","group":"b553394d.c5bd1","order":10,"width":3,"height":1},{"id":"a9c86725.d3692","type":"ui_spacer","name":"spacer","group":"b553394d.c5bd1","order":11,"width":3,"height":1},{"id":"9a599f0.7029a6","type":"ui_spacer","name":"spacer","group":"b553394d.c5bd1","order":12,"width":3,"height":1},{"id":"f39c05d3.dd6c68","type":"ui_spacer","name":"spacer","group":"b553394d.c5bd1","order":13,"width":3,"height":1},{"id":"516ff04b.96c178","type":"ui_spacer","name":"spacer","group":"b553394d.c5bd1","order":14,"width":3,"height":1},{"id":"12e5b5c2.936c6a","type":"ui_spacer","name":"spacer","group":"b553394d.c5bd1","order":15,"width":3,"height":1},{"id":"b89bfaf1.58f568","type":"ui_spacer","name":"spacer","group":"b553394d.c5bd1","order":16,"width":3,"height":1},{"id":"addfff8a.6ca45","type":"ui_tab","z":"","name":"Display","icon":"trending_up","order":5,"disabled":false,"hidden":false},{"id":"ce276cbd.3222e","type":"ui_group","z":"","name":"Parâmetros do Teste","tab":"addfff8a.6ca45","order":1,"disp":false,"width":"13","collapse":false},{"id":"e579567.4c493a8","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1dd29664.62e132","type":"ui_group","z":"","name":"Menu","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9cbbb9a5.37b3e8","type":"ui_group","z":"","name":"Group 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"2d9be6d8.09e7b2","type":"ui_group","z":"","name":"Group 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"80070986.3dc0a8","type":"ui_group","z":"","name":"Group 3","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"75bbc9bb.790fd","type":"ui_group","z":"","name":"Rotina","tab":"addfff8a.6ca45","order":2,"disp":false,"width":"13","collapse":false},{"id":"8af1dd.069fd62","type":"ui_group","z":"","name":"Loop","tab":"addfff8a.6ca45","order":3,"disp":false,"width":"13","collapse":false},{"id":"ecc83c96.9233a","type":"ui_group","z":"","name":"Data","tab":"addfff8a.6ca45","order":4,"disp":false,"width":13,"collapse":false},{"id":"3f329b1e.be2ccc","type":"ui_group","z":"","name":"Rotinaescolha","tab":"addfff8a.6ca45","order":5,"disp":false,"width":"13","collapse":false},{"id":"4be4d17.c0f703","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"bc727a51.eec688","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef4b06a1.7fd6a8","type":"ui_group","z":"","name":"Loopescolha","tab":"addfff8a.6ca45","order":6,"disp":false,"width":"13","collapse":false},{"id":"9e8e5a4e.b45988","type":"ui_group","z":"","name":"IniciarTeste","tab":"addfff8a.6ca45","order":7,"disp":false,"width":"26","collapse":false},{"id":"d5667d1b.9e01f","type":"ui_text_input","z":"802fa0d2.9500e","name":"","label":"Qual o motor?","tooltip":"","group":"dd0e846b.6f53f8","order":6,"width":14,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"teste","x":420,"y":460,"wires":[["ad2bdadd.53e6a","8223a6bd.99587"]]},{"id":"d5c953f6.70191","type":"ui_text_input","z":"802fa0d2.9500e","name":"","label":"Qual a hélice?","tooltip":"","group":"dd0e846b.6f53f8","order":8,"width":14,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"teste","x":420,"y":580,"wires":[["1de96ff8.44e62","930586d.404d6f8"]]},{"id":"72532431.1725e4","type":"ui_dropdown","z":"802fa0d2.9500e","name":"Estático/Dinâmico","label":"Tipo de Teste","tooltip":"","place":"Escolha a opção","group":"dd0e846b.6f53f8","order":2,"width":14,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"Teste Estático","type":"str"},{"label":"","value":"Teste Dinâmico","type":"str"}],"payload":"","topic":"teste","x":450,"y":240,"wires":[["96af612d.59c088"]]},{"id":"334c1110.8f48a6","type":"ui_dropdown","z":"802fa0d2.9500e","name":"Rotina/OpenLoop","label":"Formato do Teste","tooltip":"","place":"Escolha a opção","group":"dd0e846b.6f53f8","order":4,"width":14,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Rotina","value":"Rotina","type":"str"},{"label":"Open Loop","value":"Open Loop","type":"str"}],"payload":"","topic":"teste","x":450,"y":300,"wires":[["c99dff22.94fbe8"]]},{"id":"ad2bdadd.53e6a","type":"debug","z":"802fa0d2.9500e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":400,"wires":[]},{"id":"1de96ff8.44e62","type":"debug","z":"802fa0d2.9500e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":520,"wires":[]},{"id":"d1aad51d.8a6878","type":"inject","z":"802fa0d2.9500e","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":360,"wires":[["d5667d1b.9e01f","d5c953f6.70191","72532431.1725e4","334c1110.8f48a6"]]},{"id":"8223a6bd.99587","type":"change","z":"802fa0d2.9500e","name":"","rules":[{"t":"set","p":"motor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":460,"wires":[["b2b57f4b.4a02d"]]},{"id":"930586d.404d6f8","type":"change","z":"802fa0d2.9500e","name":"","rules":[{"t":"set","p":"helice","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":580,"wires":[["dd46724c.222f7"]]},{"id":"96af612d.59c088","type":"change","z":"802fa0d2.9500e","name":"","rules":[{"t":"set","p":"tipo_teste","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":240,"wires":[["dd081273.5ff2d"]]},{"id":"c99dff22.94fbe8","type":"change","z":"802fa0d2.9500e","name":"","rules":[{"t":"set","p":"metodo_teste","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":300,"wires":[["7c95b1ad.9b9a58"]]},{"id":"1072e387.f57354","type":"ui_button","z":"802fa0d2.9500e","name":"","group":"dd0e846b.6f53f8","order":10,"width":4,"height":1,"passthru":false,"label":"Limpar","tooltip":"","color":"","bgcolor":"red","icon":"touch_app","payload":"","payloadType":"num","topic":"","x":170,"y":440,"wires":[["72532431.1725e4","334c1110.8f48a6","d5667d1b.9e01f","d5c953f6.70191","4519ca5c.b87964"]]},{"id":"dd081273.5ff2d","type":"function","z":"802fa0d2.9500e","name":"Retorna Teste","func":"var tipo_teste = global.get('tipo_teste');\nmsg.payload = \"O tipo de teste escolhido foi\"+ \" \" + tipo_teste;\nglobal.set('tipo_teste', tipo_teste);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":240,"wires":[["7788e523.98ee04"]]},{"id":"7c95b1ad.9b9a58","type":"function","z":"802fa0d2.9500e","name":"Retorna método","func":"var metodo_teste = global.get('metodo_teste');\nmsg.payload = \"O método escolhido foi\" + \" \" + metodo_teste;\nglobal.set('metodo_teste', metodo_teste);\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":300,"wires":[["7788e523.98ee04","66786742.40e458"]]},{"id":"b2b57f4b.4a02d","type":"function","z":"802fa0d2.9500e","name":"Retorna motor","func":"var motor = global.get('motor');\nmsg.payload = \"O motor do teste é\" + \" \" + motor;\nglobal.set('motor', motor);\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":460,"wires":[["7788e523.98ee04"]]},{"id":"dd46724c.222f7","type":"function","z":"802fa0d2.9500e","name":"Retorna hélice","func":"var helice = global.get('helice');\nmsg.payload = \"A hélice do teste é\" + \" \" + helice;\nglobal.set('helice', helice);\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":580,"wires":[["7788e523.98ee04"]]},{"id":"942da4c2.f0e99","type":"ui_button","z":"802fa0d2.9500e","name":"","group":"dd0e846b.6f53f8","order":9,"width":12,"height":1,"passthru":false,"label":"Confirmar","tooltip":"","color":"","bgcolor":"green","icon":"thumb_up","payload":"concatenar","payloadType":"global","topic":"","x":140,"y":760,"wires":[["4729282b.156978"]]},{"id":"7788e523.98ee04","type":"function","z":"802fa0d2.9500e","name":"teste","func":"var tipo_teste = global.get('tipo_teste')\nvar metodo_teste = global.get('metodo_teste')\nvar motor = global.get('motor')\nvar helice = global.get('helice')\n\nvar teste = tipo_teste + metodo_teste + helice + motor;\nconcatenar = [tipo_teste,metodo_teste,motor,helice];\nglobal.set('concatenar', concatenar);\nglobal.set('teste', teste)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":440,"wires":[[]]},{"id":"5e547c60.fcaa94","type":"ui_button","z":"802fa0d2.9500e","name":"Motor","group":"dd0e846b.6f53f8","order":5,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#87A980","icon":"flight","payload":"","payloadType":"str","topic":"","x":150,"y":1060,"wires":[[]]},{"id":"c7fc2541.83aac8","type":"ui_button","z":"802fa0d2.9500e","name":"Hélice","group":"dd0e846b.6f53f8","order":7,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#FFCC66","icon":"toys","payload":"","payloadType":"str","topic":"","x":150,"y":1180,"wires":[[]]},{"id":"9f460c5.6750ef","type":"ui_button","z":"802fa0d2.9500e","name":"Metodo","group":"dd0e846b.6f53f8","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#DAC4B4","icon":"view_list","payload":"","payloadType":"str","topic":"","x":160,"y":1140,"wires":[[]]},{"id":"4519ca5c.b87964","type":"link out","z":"802fa0d2.9500e","name":"","links":["6bb5987e.c74748","76109d2f.c0ff1c","a4a59900.8175b8","7ccca92d.42ed1","16ffef69.dcd909","be67008b.897128","3616df69.f15dc8","c875b14c.428778","68a73c0d.79bedc","81008bb2.ba2d28","865e31a3.d82b8","418a7cec.e7f5a4"],"x":180,"y":540,"wires":[]},{"id":"ad98b1ec.87cd8","type":"ui_button","z":"e58178ad.fb459","name":"","group":"2ec2e01d.e97008","order":5,"width":10,"height":1,"passthru":false,"label":"Sensor de Temperatura","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":400,"wires":[[]]},{"id":"16991529.f7669b","type":"ui_button","z":"e58178ad.fb459","name":"","group":"2ec2e01d.e97008","order":3,"width":10,"height":1,"passthru":false,"label":"Sensor de Pressão","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":460,"wires":[[]]},{"id":"94274e4d.1ab658","type":"ui_button","z":"e58178ad.fb459","name":"","group":"2ec2e01d.e97008","order":7,"width":10,"height":1,"passthru":false,"label":"Célula de Carga","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":580,"wires":[[]]},{"id":"1014bb0a.9c599d","type":"ui_button","z":"e58178ad.fb459","name":"","group":"2ec2e01d.e97008","order":9,"width":10,"height":1,"passthru":false,"label":"Tubo de Pitot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":520,"wires":[[]]},{"id":"3a0cdd7a.58484a","type":"ui_button","z":"e58178ad.fb459","name":"Iniciar calibração","group":"2ec2e01d.e97008","order":1,"width":10,"height":1,"passthru":false,"label":"Iniciar verificação ","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":260,"wires":[["a6694a68.054df"]]},{"id":"9f85c9c1.be021","type":"ui_button","z":"e58178ad.fb459","name":"Icone de Calibração","group":"2ec2e01d.e97008","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"green","icon":"flight_takeoff","payload":"","payloadType":"str","topic":"","x":140,"y":320,"wires":[[]]},{"id":"a6694a68.054df","type":"exec","z":"e58178ad.fb459","command":"python3 calibration_pressure_sensor.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":520,"y":260,"wires":[["552f2818.9baf9"],[],[]]},{"id":"552f2818.9baf9","type":"function","z":"e58178ad.fb459","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar temp = (Number(partsOfStr[0]));\nvar press = (Number(partsOfStr[1]));\nvar press_mar = (Number(partsOfStr[2]));\nvar altitude = (Number(partsOfStr[3]));\n\nif (temp && press && press_mar && altitude === 0){\n    msg.payload = 'Not OK';\n}\nelse{\n    msg.payload = 'OK';\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":260,"wires":[["f92e72cf.e1769"]]},{"id":"f92e72cf.e1769","type":"switch","z":"e58178ad.fb459","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Not OK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":850,"y":320,"wires":[["746620f3.6d784"],["930ab991.0bc98","e8a88564.8d0488"]]},{"id":"930ab991.0bc98","type":"ui_text","z":"e58178ad.fb459","group":"2ec2e01d.e97008","order":4,"width":1,"height":1,"name":"Pressão Passou","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":440,"wires":[]},{"id":"746620f3.6d784","type":"debug","z":"e58178ad.fb459","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":180,"wires":[]},{"id":"1969c35b.676745","type":"link in","z":"e58178ad.fb459","name":"","links":["f98bdc5f.9939e"],"x":895,"y":500,"wires":[["930ab991.0bc98","d37ab41.56eaa48"]]},{"id":"e8a88564.8d0488","type":"exec","z":"e58178ad.fb459","command":"python3 temperature_sensor.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1150,"y":340,"wires":[["e77533a0.4f5ee8"],[],[]]},{"id":"e77533a0.4f5ee8","type":"function","z":"e58178ad.fb459","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar temp = (Number(partsOfStr[0]));\n\nif (temp === 0){\n    msg.payload = 'Not OK';\n}\nelse{\n    msg.payload = 'OK';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":420,"wires":[["1c118a8e.f12925"]]},{"id":"1c118a8e.f12925","type":"switch","z":"e58178ad.fb459","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Not OK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1430,"y":380,"wires":[[],["d37ab41.56eaa48","57854c53.e83ab4"]]},{"id":"d37ab41.56eaa48","type":"ui_text","z":"e58178ad.fb459","group":"2ec2e01d.e97008","order":6,"width":1,"height":1,"name":"Temperatura OK","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1580,"y":460,"wires":[]},{"id":"cc295e74.caa0c","type":"exec","z":"e58178ad.fb459","command":"export DISPLAY=:0 && lxterminal -e python3 /home gui.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1480,"y":780,"wires":[[],[],[]]},{"id":"b084b828.746cd8","type":"inject","z":"e58178ad.fb459","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":780,"wires":[["cc295e74.caa0c"]]},{"id":"57854c53.e83ab4","type":"exec","z":"e58178ad.fb459","command":"python3 raw_load_cell.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1750,"y":620,"wires":[["16889ab9.371bcd"],[],[]]},{"id":"16889ab9.371bcd","type":"function","z":"e58178ad.fb459","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar tracao = (Number(partsOfStr[0]));\nflow.set(\"tracao\", tracao)\n\nif (tracao === 0){\n    msg.payload = false;\n}\nelse{\n    msg.payload = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":620,"wires":[["c802a591.e2ef88"]]},{"id":"c802a591.e2ef88","type":"switch","z":"e58178ad.fb459","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":620,"wires":[["8f5c032d.ca642"],[]]},{"id":"d0a26b48.6b3da","type":"ui_button","z":"802fa0d2.9500e","name":"Teste","group":"dd0e846b.6f53f8","order":1,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#A6BBCF","icon":"flight_takeoff","payload":"","payloadType":"str","topic":"","x":150,"y":1100,"wires":[[]]},{"id":"af6f3345.1f2468","type":"ui_text","z":"e58178ad.fb459","group":"2ec2e01d.e97008","order":8,"width":1,"height":1,"name":"Celula de Carga OK","label":"","format":"{{msg.payload}}","layout":"row-spread","x":2400,"y":740,"wires":[]},{"id":"4905bc35.0539dc","type":"link in","z":"e58178ad.fb459","name":"","links":["f98bdc5f.9939e"],"x":2115,"y":780,"wires":[["af6f3345.1f2468"]]},{"id":"7d69ce75.3f3fd","type":"exec","z":"f10e116d.861658","command":"python3 -u offset_load_cell.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":570,"y":140,"wires":[["51558d85.d5728c"],[],[]]},{"id":"51558d85.d5728c","type":"function","z":"f10e116d.861658","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\nvar offset = (Number(partsOfStr[0]));\n\noffset = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["65c610f6.8160d8"]]},{"id":"e1406cb.6f9b21","type":"change","z":"f10e116d.861658","name":"","rules":[{"t":"set","p":"offset","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":200,"wires":[["e047cfb2.c6efe","2a5358cc.667d9"]]},{"id":"f6759b3a.7c2868","type":"exec","z":"f10e116d.861658","command":"python3 -u raw_load_cell.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1660,"y":140,"wires":[["843caa88.a3414"],[],[]]},{"id":"843caa88.a3414","type":"function","z":"f10e116d.861658","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\nvar tracao = (Number(partsOfStr[0]));\n\nmsg.payload = tracao;\n\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":140,"wires":[["8ce862b1.f3f718"]]},{"id":"2a05b736.ec02c","type":"ui_button","z":"f10e116d.861658","name":"","group":"b553394d.c5bd1","order":1,"width":15,"height":1,"passthru":false,"label":"Iniciar calibração","tooltip":"","color":"","bgcolor":"green","icon":"touch_app","payload":"true","payloadType":"bool","topic":"","x":270,"y":140,"wires":[["7d69ce75.3f3fd"]]},{"id":"e047cfb2.c6efe","type":"ui_text","z":"f10e116d.861658","group":"b553394d.c5bd1","order":2,"width":5,"height":1,"name":"offset","label":"Offset:","format":"{{msg.payload}}","layout":"row-left","x":1210,"y":200,"wires":[]},{"id":"19f8a17b.0d0e4f","type":"debug","z":"f10e116d.861658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2070,"y":280,"wires":[]},{"id":"65c610f6.8160d8","type":"change","z":"f10e116d.861658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":140,"wires":[["e1406cb.6f9b21"]]},{"id":"8ce862b1.f3f718","type":"change","z":"f10e116d.861658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2090,"y":140,"wires":[["a2c684ae.21e14"]]},{"id":"a2c684ae.21e14","type":"change","z":"f10e116d.861658","name":"","rules":[{"t":"set","p":"tracao","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":140,"wires":[["3c66cb57.c0460c"]]},{"id":"3c66cb57.c0460c","type":"function","z":"f10e116d.861658","name":"","func":"var tracao = global.get('tracao');\nvar offset = global.get('offset');\nvar peso = global.get('peso');\n\nvar tracao_correta = (tracao - offset)/peso;\n\nif (tracao_correta<0){\n    tracao_correta = 0;\n}\n\nmsg.payload = tracao_correta;\n\nreturn msg;","outputs":1,"noerr":0,"x":2510,"y":140,"wires":[["c503af47.50fef8","49b26291.ce288c","d5f4cf61.6b1a4"]]},{"id":"c503af47.50fef8","type":"while-loop","z":"f10e116d.861658","name":"","condi":"true","x":1410,"y":140,"wires":[[],["f6759b3a.7c2868"]]},{"id":"49b26291.ce288c","type":"ui_gauge","z":"f10e116d.861658","name":"","group":"b553394d.c5bd1","order":9,"width":9,"height":4,"gtype":"gage","title":"Valor puxado","label":"gramas","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2590,"y":260,"wires":[]},{"id":"2a5358cc.667d9","type":"ui_text","z":"f10e116d.861658","group":"b553394d.c5bd1","order":3,"width":7,"height":1,"name":"coloque carga","label":"","format":"Puxe uma carga conhecida no centro do motor. Aperte ENTER quando colocar.","layout":"row-spread","x":910,"y":300,"wires":[]},{"id":"c4a21063.74ea1","type":"ui_text_input","z":"f10e116d.861658","name":"Qual era o valor","label":"","tooltip":"","group":"b553394d.c5bd1","order":6,"width":5,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"","x":460,"y":620,"wires":[["90bdc6d2.1ff598"]]},{"id":"90bdc6d2.1ff598","type":"change","z":"f10e116d.861658","name":"","rules":[{"t":"set","p":"massatarada","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":620,"wires":[[]]},{"id":"7cfa0030.059a8","type":"exec","z":"f10e116d.861658","command":"python3 -u raw_load_cell.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":520,"wires":[["837a534a.bda888"],[],[]]},{"id":"837a534a.bda888","type":"function","z":"f10e116d.861658","name":"GET DATA MEAN","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\nvar tracao = (Number(partsOfStr[0]));\n\nmsg.payload = tracao;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["de6a97aa.4cc698"]]},{"id":"de6a97aa.4cc698","type":"change","z":"f10e116d.861658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":520,"wires":[["f0a0626a.97fa08"]]},{"id":"f0a0626a.97fa08","type":"change","z":"f10e116d.861658","name":"","rules":[{"t":"set","p":"datamean","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":520,"wires":[["aa2ab47.de3e6c8"]]},{"id":"3bcc2778.c9efd8","type":"ui_text","z":"f10e116d.861658","group":"b553394d.c5bd1","order":5,"width":7,"height":1,"name":"Confirmar peso","label":"","format":"{{msg.payload}}","layout":"row-left","x":1680,"y":520,"wires":[]},{"id":"1cf7f28e.e7c6a5","type":"ui_button","z":"f10e116d.861658","name":"PRESS","group":"b553394d.c5bd1","order":4,"width":3,"height":1,"passthru":false,"label":"ENTER","tooltip":"","color":"","bgcolor":"green","icon":"touch_app","payload":"true","payloadType":"bool","topic":"","x":140,"y":520,"wires":[["7cfa0030.059a8"]]},{"id":"aa2ab47.de3e6c8","type":"change","z":"f10e116d.861658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Confirme o valor colocado em gramas:","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":520,"wires":[["3bcc2778.c9efd8"]]},{"id":"ee6ac2b2.4cb7d8","type":"ui_button","z":"f10e116d.861658","name":"Recomeçar calibração","group":"b553394d.c5bd1","order":17,"width":6,"height":1,"passthru":false,"label":"Recomeçar ","tooltip":"","color":"black","bgcolor":"yellow","icon":"restore","payload":"","payloadType":"num","topic":"","x":140,"y":700,"wires":[["90a781f8.1abb8"]]},{"id":"503b2f72.130e8","type":"ui_button","z":"f10e116d.861658","name":"Confirmar carga colocada","group":"b553394d.c5bd1","order":7,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"green","icon":"check_circle","payload":"massatarada","payloadType":"global","topic":"","x":1270,"y":40,"wires":[["c503af47.50fef8"]]},{"id":"c37b9dc4.d768a8","type":"ui_button","z":"f10e116d.861658","name":"","group":"b553394d.c5bd1","order":18,"width":9,"height":1,"passthru":false,"label":"Confirmar calibração","tooltip":"","color":"","bgcolor":"green","icon":"thumb_up","payload":"true","payloadType":"bool","topic":"","x":140,"y":760,"wires":[[]]},{"id":"6b9bea51.ebef9c","type":"link in","z":"f10e116d.861658","name":"","links":["90a781f8.1abb8"],"x":295,"y":600,"wires":[["c4a21063.74ea1"]]},{"id":"90a781f8.1abb8","type":"link out","z":"f10e116d.861658","name":"","links":["22afa24b.ecbc76","6b9bea51.ebef9c","a87ffcd1.5ebbd","b5a2ee45.1fb7f8","e0a4465a.72fee8","b30d1b68.7e183"],"x":315,"y":700,"wires":[]},{"id":"e0a4465a.72fee8","type":"link in","z":"f10e116d.861658","name":"","links":["90a781f8.1abb8"],"x":555,"y":560,"wires":[["837a534a.bda888"]]},{"id":"22afa24b.ecbc76","type":"link in","z":"f10e116d.861658","name":"","links":["90a781f8.1abb8"],"x":695,"y":340,"wires":[["2a5358cc.667d9"]]},{"id":"b5a2ee45.1fb7f8","type":"link in","z":"f10e116d.861658","name":"","links":["90a781f8.1abb8"],"x":1075,"y":280,"wires":[["e047cfb2.c6efe"]]},{"id":"a87ffcd1.5ebbd","type":"link in","z":"f10e116d.861658","name":"","links":["90a781f8.1abb8"],"x":2395,"y":340,"wires":[["49b26291.ce288c"]]},{"id":"b30d1b68.7e183","type":"link in","z":"f10e116d.861658","name":"","links":["90a781f8.1abb8"],"x":1555,"y":580,"wires":[["3bcc2778.c9efd8"]]},{"id":"8072d736.b0ae2","type":"ui_button","z":"e58178ad.fb459","name":"Restart","group":"2ec2e01d.e97008","order":10,"width":0,"height":0,"passthru":false,"label":"Reiniciar","tooltip":"","color":"black","bgcolor":"yellow","icon":"restore","payload":"","payloadType":"num","topic":"","x":100,"y":640,"wires":[["f98bdc5f.9939e"]]},{"id":"f98bdc5f.9939e","type":"link out","z":"e58178ad.fb459","name":"","links":["1969c35b.676745","4905bc35.0539dc"],"x":215,"y":640,"wires":[]},{"id":"8f5c032d.ca642","type":"change","z":"e58178ad.fb459","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2220,"y":700,"wires":[["af6f3345.1f2468"]]},{"id":"e577750c.71d088","type":"ui_dropdown","z":"2e6d4a2e.580a06","name":"Rotinas","label":"Tipo de Teste","tooltip":"","place":"Escolha a opção","group":"75bbc9bb.790fd","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Potência Máxima","type":"str"},{"label":"","value":"Curva de Torque ","type":"str"},{"label":"","value":"Modo Baby","type":"str"},{"label":"","value":"Modo Baby turbo","type":"str"}],"payload":"","topic":"","x":1360,"y":420,"wires":[["c8bed729.a7b6c8","c381bcc3.cd095","ec619d9c.0f10c","6a888798.2e2e98"]]},{"id":"66786742.40e458","type":"debug","z":"802fa0d2.9500e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1320,"y":260,"wires":[]},{"id":"6c348331.92288c","type":"ui_dropdown","z":"2e6d4a2e.580a06","name":"Open Loop","label":"Tipo de Teste","tooltip":"","place":"Escolha a opção","group":"8af1dd.069fd62","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Open Loop","type":"str"}],"payload":"","topic":"","x":1390,"y":580,"wires":[["c8bed729.a7b6c8","d112d681.58d24","c93fd9d3.d7dcc"]]},{"id":"a327e256.a9da58","type":"switch","z":"2e6d4a2e.580a06","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open Loop","vt":"str"},{"t":"eq","v":"Rotina","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":480,"wires":[["91f9489b.dd8a8"],["1b4dad8b.2990fa"]]},{"id":"c8bed729.a7b6c8","type":"ui_ui_control","z":"2e6d4a2e.580a06","name":"","events":"all","x":1400,"y":520,"wires":[[]]},{"id":"91f9489b.dd8a8","type":"change","z":"2e6d4a2e.580a06","name":"Mudar para Loop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Display_Rotina\",\"Display_Rotinaescolha\"],\"show\":[\"Display_Loop\",\"Display_Loopescolha\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":420,"wires":[["c8bed729.a7b6c8"]]},{"id":"1b4dad8b.2990fa","type":"change","z":"2e6d4a2e.580a06","name":"Mudar para Rotina","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Display_Loop\",\"Display_Loopescolha\"],\"show\":[\"Display_Rotina\",\"Display_Rotinaescolha\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":560,"wires":[["c8bed729.a7b6c8"]]},{"id":"4729282b.156978","type":"link out","z":"802fa0d2.9500e","name":"","links":["a1572b2c.637b6"],"x":275,"y":760,"wires":[]},{"id":"a1572b2c.637b6","type":"link in","z":"2e6d4a2e.580a06","name":"","links":["4729282b.156978"],"x":95,"y":220,"wires":[["334ccc04.1e8444"]]},{"id":"334ccc04.1e8444","type":"function","z":"2e6d4a2e.580a06","name":"Variaveis","func":"str = msg.payload;\nvar Tipo_Teste = str[0];\nvar Metodo_Teste = str[1];\nvar Motor = str[2];\nvar Helice = str[3];\n\nif (Tipo_Teste || Metodo_Teste || Motor || Helice === null){\n    msg.payload=true;\n}\nelse{\n    msg.payload=false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":220,"wires":[["cf9695ee.d2338"]]},{"id":"cf9695ee.d2338","type":"switch","z":"2e6d4a2e.580a06","name":"Avalia input","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":220,"wires":[["9dbc2f32.46fe3"],[]]},{"id":"9dbc2f32.46fe3","type":"function","z":"2e6d4a2e.580a06","name":"","func":"var tipo_teste = global.get('tipo_teste');\nvar metodo_teste = global.get('metodo_teste');\nvar motor = global.get('motor');\nvar helice = global.get('helice');\n\nmsg1 = {payload: tipo_teste}\nmsg2 = {payload: metodo_teste}\nmsg3 = {payload: motor}\nmsg4 = {payload: helice}\n\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"x":650,"y":220,"wires":[["1aa1ef92.a2c9c8"],["a327e256.a9da58","e9bf7bed.1a49f8"],["cde69625.68417"],["edcbac43.fb62e"]]},{"id":"1aa1ef92.a2c9c8","type":"ui_button","z":"2e6d4a2e.580a06","name":"Tipo de teste","group":"ce276cbd.3222e","order":2,"width":3,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":910,"y":140,"wires":[[]]},{"id":"a2a6394.856b648","type":"ui_button","z":"2e6d4a2e.580a06","name":"","group":"ce276cbd.3222e","order":1,"width":8,"height":1,"passthru":false,"label":"Você escolheu o tipo de teste:","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":400,"wires":[[]]},{"id":"7b3d9f7c.876888","type":"ui_button","z":"2e6d4a2e.580a06","name":"Motor","group":"ce276cbd.3222e","order":9,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#87A980","icon":"flight","payload":"","payloadType":"str","topic":"","x":130,"y":560,"wires":[[]]},{"id":"2f937770.589728","type":"ui_button","z":"2e6d4a2e.580a06","name":"Hélice","group":"ce276cbd.3222e","order":12,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#FFCC66","icon":"toys","payload":"","payloadType":"str","topic":"","x":130,"y":680,"wires":[[]]},{"id":"75cad81d.0a8fd","type":"ui_button","z":"2e6d4a2e.580a06","name":"Metodo","group":"ce276cbd.3222e","order":6,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#DAC4B4","icon":"view_list","payload":"","payloadType":"str","topic":"","x":140,"y":640,"wires":[[]]},{"id":"7eeb91d6.6eab9","type":"ui_button","z":"2e6d4a2e.580a06","name":"Teste","group":"ce276cbd.3222e","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#A6BBCF","icon":"flight_takeoff","payload":"","payloadType":"str","topic":"","x":130,"y":600,"wires":[[]]},{"id":"44097781.eb5ba","type":"ui_button","z":"2e6d4a2e.580a06","name":"","group":"ce276cbd.3222e","order":4,"width":8,"height":1,"passthru":false,"label":"Você escolheu o método:","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":340,"wires":[[]]},{"id":"43da0bbc.72bbe4","type":"ui_button","z":"2e6d4a2e.580a06","name":"","group":"ce276cbd.3222e","order":7,"width":8,"height":1,"passthru":false,"label":"Motor a ser testado:","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":460,"wires":[[]]},{"id":"c515e89d.be4168","type":"ui_button","z":"2e6d4a2e.580a06","name":"","group":"ce276cbd.3222e","order":10,"width":8,"height":1,"passthru":false,"label":"Hélice a ser testada:","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":500,"wires":[[]]},{"id":"e9bf7bed.1a49f8","type":"ui_button","z":"2e6d4a2e.580a06","name":"Metodo de teste","group":"ce276cbd.3222e","order":5,"width":3,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":920,"y":200,"wires":[[]]},{"id":"cde69625.68417","type":"ui_button","z":"2e6d4a2e.580a06","name":"Motor","group":"ce276cbd.3222e","order":8,"width":3,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":890,"y":260,"wires":[[]]},{"id":"edcbac43.fb62e","type":"ui_button","z":"2e6d4a2e.580a06","name":"Hélice","group":"ce276cbd.3222e","order":11,"width":3,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":890,"y":320,"wires":[[]]},{"id":"d5f4cf61.6b1a4","type":"link out","z":"f10e116d.861658","name":"Celula","links":["fda33f34.efcd3"],"x":2675,"y":140,"wires":[]},{"id":"1e8193e9.aa2d3c","type":"exec","z":"2e6d4a2e.580a06","command":"python3 calibration_pressure_sensor.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":760,"y":780,"wires":[["8b1dd2b4.c2aa58"],[],[]]},{"id":"8b1dd2b4.c2aa58","type":"function","z":"2e6d4a2e.580a06","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar temp = (Number(partsOfStr[0]));\nvar press = (Number(partsOfStr[1]));\nvar press_mar = (Number(partsOfStr[2]));\nvar altitude = (Number(partsOfStr[3]));\n\nmsg1 = {payload: temp}\nmsg2 = {payload: press}\nmsg3 = {payload: press_mar}\nmsg4 = {payload: altitude}\n\nreturn [msg1, msg2, msg3, msg4];\n","outputs":4,"noerr":0,"x":1010,"y":780,"wires":[[],[],[],[]]},{"id":"8b1d7d35.3f0f5","type":"inject","z":"2e6d4a2e.580a06","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":490,"y":780,"wires":[["1e8193e9.aa2d3c"]]},{"id":"c381bcc3.cd095","type":"ui_text","z":"2e6d4a2e.580a06","group":"3f329b1e.be2ccc","order":1,"width":0,"height":0,"name":"Modo Potencia Máxima","label":"Modo potencia máxima: motor é colocado em 100% por 1 minuto.","format":"","layout":"row-spread","x":1600,"y":260,"wires":[]},{"id":"ec619d9c.0f10c","type":"ui_text","z":"2e6d4a2e.580a06","group":"3f329b1e.be2ccc","order":2,"width":0,"height":0,"name":"Modo Curva de Torque","label":"Modo Curva de Torque: perfeito para analisar a eficiência de sua hélice. ","format":"","layout":"row-spread","x":1600,"y":320,"wires":[]},{"id":"6a888798.2e2e98","type":"ui_text","z":"2e6d4a2e.580a06","group":"3f329b1e.be2ccc","order":3,"width":0,"height":0,"name":"Modo Baby","label":"Modo Baby: é uma maneira de analisar o comportamento do motor em baixos torques.","format":"","layout":"row-spread","x":1570,"y":380,"wires":[]},{"id":"d112d681.58d24","type":"ui_text","z":"2e6d4a2e.580a06","group":"ef4b06a1.7fd6a8","order":1,"width":0,"height":0,"name":"Modo Open Loop","label":"Modo Open Loop: Aqui o controle é todo seu! Por meio de um potenciômetro, a potência do motor será controlada totalmente pelo usuário. Teste o sistema.","format":"","layout":"row-spread","x":1590,"y":620,"wires":[]},{"id":"c93fd9d3.d7dcc","type":"ui_slider","z":"2e6d4a2e.580a06","name":"","label":"Deslize o botão","tooltip":"","group":"ef4b06a1.7fd6a8","order":2,"width":5,"height":2,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"1","x":1580,"y":680,"wires":[["fb045602.936d4"]]},{"id":"fb045602.936d4","type":"ui_gauge","z":"2e6d4a2e.580a06","name":"","group":"ef4b06a1.7fd6a8","order":3,"width":8,"height":2,"gtype":"gage","title":"Potência do Motor","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1810,"y":680,"wires":[]},{"id":"c04515c3.ee893","type":"ui_button","z":"2e6d4a2e.580a06","name":"","group":"9e8e5a4e.b45988","order":1,"width":0,"height":0,"passthru":false,"label":"INICIAR TESTE","tooltip":"","color":"","bgcolor":"green","icon":"touch_app","payload":"","payloadType":"str","topic":"","x":160,"y":720,"wires":[[]]}]
