NodeRed_flow
[{"id":"469b1a3.f3bf364","type":"tab","label":"Database","disabled":false,"info":""},{"id":"6dc3f0bb.36c81","type":"tab","label":"Login","disabled":false,"info":""},{"id":"e45fea15.9c4e3","type":"tab","label":"Verificação ","disabled":false,"info":""},{"id":"d046cfc3.2c33f","type":"tab","label":"Calibração - Loadcell","disabled":false,"info":""},{"id":"e377c8c5.5d2a2","type":"tab","label":"Calibração - Pitot","disabled":false,"info":""},{"id":"760dfb14.3731dc","type":"tab","label":"Display","disabled":false,"info":""},{"id":"6c53f7a3.674208","type":"tab","label":"Fluxos de Teste","disabled":false,"info":""},{"id":"16936092.ae94e7","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Dashboard Aero","default":"#4B7930","baseColor":"#000000","baseFont":"Courier,monospace","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":true},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#097479","edited":true},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Bancada de Teste de Tração da Equipe Aerodesign UTFPR Curitiba","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cc946df4.d29788","type":"ui_tab","z":"","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"ee2a061a.d7f98","type":"ui_spacer","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"88b41238.12aff8","type":"ui_spacer","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"a460ae06.4beef8","type":"ui_spacer","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"bc48626b.e41","type":"ui_spacer","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"129f038b.7e6834","type":"ui_group","z":"","name":"Login - Teste de Tração de Motores Brushless","tab":"cc946df4.d29788","order":1,"disp":true,"width":16,"collapse":false},{"id":"79421ef8.99aa18","type":"ui_spacer","name":"spacer","group":"8db365f.dcde498","order":4,"width":2,"height":1},{"id":"afc641ec.416278","type":"ui_spacer","name":"spacer","group":"8db365f.dcde498","order":6,"width":2,"height":1},{"id":"bb0242aa.7877f8","type":"ui_tab","z":"","name":"Checagem de todos os sensores","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1e52356.f784f4b","type":"ui_group","z":"","name":"Checagem dos sensores","tab":"bb0242aa.7877f8","order":1,"disp":true,"width":"11","collapse":false},{"id":"efeab544.29a578","type":"ui_group","z":"","name":"Calibração da Célula de Carga","tab":"877f50f.7b0f9b","order":1,"disp":true,"width":15,"collapse":false},{"id":"630ba853.1fb628","type":"ui_spacer","name":"spacer","group":"1e52356.f784f4b","order":10,"width":1,"height":1},{"id":"877f50f.7b0f9b","type":"ui_tab","z":"","name":"Calibração da Célula de Carga","icon":"equalizer","order":3,"disabled":false,"hidden":false},{"id":"56f4e22e.26a6f4","type":"ui_tab","z":"","name":"Calibração do Tubo de Pitot","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"f8672a17.da19f8","type":"ui_group","z":"","name":"Calibração do Tubo de Pitot","tab":"56f4e22e.26a6f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e02a935.d8b008","type":"ui_spacer","name":"spacer","group":"efeab544.29a578","order":8,"width":3,"height":1},{"id":"91b0f10c.5e3a8","type":"ui_spacer","name":"spacer","group":"efeab544.29a578","order":10,"width":3,"height":1},{"id":"876b1fd4.13aec8","type":"ui_spacer","name":"spacer","group":"efeab544.29a578","order":11,"width":3,"height":1},{"id":"73139fbf.294b88","type":"ui_spacer","name":"spacer","group":"efeab544.29a578","order":12,"width":3,"height":1},{"id":"f4eca8ec.9de4c","type":"ui_spacer","name":"spacer","group":"efeab544.29a578","order":13,"width":3,"height":1},{"id":"9ffc575f.da1f48","type":"ui_spacer","name":"spacer","group":"efeab544.29a578","order":14,"width":3,"height":1},{"id":"f4cd4ea8.9495f8","type":"ui_spacer","name":"spacer","group":"efeab544.29a578","order":15,"width":3,"height":1},{"id":"c6501c64.c3339","type":"ui_spacer","name":"spacer","group":"efeab544.29a578","order":16,"width":3,"height":1},{"id":"4db3a94.99aa1d8","type":"ui_tab","z":"","name":"Display","icon":"trending_up","order":5,"disabled":false,"hidden":false},{"id":"1285dd49.e3515b","type":"ui_group","z":"","name":"Parâmetros do Teste","tab":"4db3a94.99aa1d8","order":1,"disp":false,"width":"13","collapse":false},{"id":"eb0f497e.b5b388","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7e318539.2000bc","type":"ui_group","z":"","name":"Menu","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4fd9ba16.57eaa4","type":"ui_group","z":"","name":"Group 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"b7188333.18b0a","type":"ui_group","z":"","name":"Group 1","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"70d1fe30.a3b2f8","type":"ui_group","z":"","name":"Group 3","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"3e26bae5.c7f52e","type":"ui_group","z":"","name":"Rotina","tab":"4db3a94.99aa1d8","order":2,"disp":false,"width":"13","collapse":false},{"id":"b4eec92e.11ffd","type":"ui_group","z":"","name":"Loop","tab":"4db3a94.99aa1d8","order":3,"disp":false,"width":"13","collapse":false},{"id":"8164f52c.e4d86","type":"ui_group","z":"","name":"Data","tab":"4db3a94.99aa1d8","order":4,"disp":false,"width":13,"collapse":false},{"id":"638d889c.647d","type":"ui_group","z":"","name":"Rotinaescolha","tab":"4db3a94.99aa1d8","order":5,"disp":false,"width":"13","collapse":false},{"id":"38621fb2.7abc7","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1dbc443.906a43c","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f0dad106.0e302","type":"ui_group","z":"","name":"Loopescolha","tab":"4db3a94.99aa1d8","order":6,"disp":false,"width":"13","collapse":false},{"id":"cf5ef35d.d04a78","type":"ui_group","z":"","name":"IniciarTeste","tab":"4db3a94.99aa1d8","order":7,"disp":false,"width":"26","collapse":false},{"id":"148a003d.e3167","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"node-red-temp","tz":""},{"id":"f7f2fa05.2620c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3308","db":"cadastro","tz":""},{"id":"dd86238.30ebee","type":"ui_tab","z":"","name":"Teste PWM","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"20b7d0bd.c079","type":"ui_group","z":"","name":"PWM","tab":"dd86238.30ebee","order":1,"disp":true,"width":12,"collapse":false},{"id":"a4707941.472368","type":"ui_spacer","name":"spacer","group":"cf5ef35d.d04a78","order":11,"width":1,"height":1},{"id":"f018f0be.dde51","type":"ui_spacer","name":"spacer","group":"cf5ef35d.d04a78","order":12,"width":1,"height":1},{"id":"1362368f.01c8b9","type":"ui_spacer","name":"spacer","group":"cf5ef35d.d04a78","order":13,"width":1,"height":1},{"id":"59f23975.b72bb8","type":"ui_spacer","name":"spacer","group":"cf5ef35d.d04a78","order":14,"width":1,"height":1},{"id":"e0dd9f54.ba8e4","type":"ui_spacer","name":"spacer","group":"cf5ef35d.d04a78","order":15,"width":1,"height":1},{"id":"459291fa.35445","type":"ui_spacer","name":"spacer","group":"cf5ef35d.d04a78","order":16,"width":1,"height":1},{"id":"7754b78d.bfc028","type":"ui_text_input","z":"6dc3f0bb.36c81","name":"","label":"Qual o motor?","tooltip":"","group":"129f038b.7e6834","order":6,"width":14,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"teste","x":420,"y":460,"wires":[["1323ec8f.595e83","e4f63b41.60e9b8"]]},{"id":"d69a6116.6e0bf8","type":"ui_text_input","z":"6dc3f0bb.36c81","name":"","label":"Qual a hélice?","tooltip":"","group":"129f038b.7e6834","order":8,"width":14,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"teste","x":420,"y":580,"wires":[["9897e667.e6913","8034bff1.ec3e78"]]},{"id":"26cf270b.2056b8","type":"ui_dropdown","z":"6dc3f0bb.36c81","name":"Estático/Dinâmico","label":"Tipo de Teste","tooltip":"","place":"Escolha a opção","group":"129f038b.7e6834","order":2,"width":14,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"Teste Estático","type":"str"},{"label":"","value":"Teste Dinâmico","type":"str"}],"payload":"","topic":"teste","x":450,"y":240,"wires":[["ff305678.fa3538"]]},{"id":"c4332066.6b31c8","type":"ui_dropdown","z":"6dc3f0bb.36c81","name":"Rotina/OpenLoop","label":"Formato do Teste","tooltip":"","place":"Escolha a opção","group":"129f038b.7e6834","order":4,"width":14,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Rotina","value":"Rotina","type":"str"},{"label":"Open Loop","value":"Open Loop","type":"str"}],"payload":"","topic":"teste","x":450,"y":300,"wires":[["776f3272.44bc9c"]]},{"id":"1323ec8f.595e83","type":"debug","z":"6dc3f0bb.36c81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":400,"wires":[]},{"id":"9897e667.e6913","type":"debug","z":"6dc3f0bb.36c81","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":520,"wires":[]},{"id":"d0fa7354.6ddf48","type":"inject","z":"6dc3f0bb.36c81","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":360,"wires":[["7754b78d.bfc028","d69a6116.6e0bf8","26cf270b.2056b8","c4332066.6b31c8"]]},{"id":"e4f63b41.60e9b8","type":"change","z":"6dc3f0bb.36c81","name":"","rules":[{"t":"set","p":"motor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":460,"wires":[["38f22727.bedcb8"]]},{"id":"8034bff1.ec3e78","type":"change","z":"6dc3f0bb.36c81","name":"","rules":[{"t":"set","p":"helice","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":580,"wires":[["458d821b.e5b2a4"]]},{"id":"ff305678.fa3538","type":"change","z":"6dc3f0bb.36c81","name":"","rules":[{"t":"set","p":"tipo_teste","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":240,"wires":[["150c16eb.145b39"]]},{"id":"776f3272.44bc9c","type":"change","z":"6dc3f0bb.36c81","name":"","rules":[{"t":"set","p":"metodo_teste","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":300,"wires":[["d6046b56.b69b7"]]},{"id":"43d68bf6.171604","type":"ui_button","z":"6dc3f0bb.36c81","name":"","group":"129f038b.7e6834","order":10,"width":4,"height":1,"passthru":false,"label":"Limpar","tooltip":"","color":"","bgcolor":"red","icon":"touch_app","payload":"","payloadType":"num","topic":"","x":170,"y":440,"wires":[["26cf270b.2056b8","c4332066.6b31c8","7754b78d.bfc028","d69a6116.6e0bf8","470b1f16.5f922"]]},{"id":"150c16eb.145b39","type":"function","z":"6dc3f0bb.36c81","name":"Retorna Teste","func":"var tipo_teste = global.get('tipo_teste');\nmsg.payload = \"O tipo de teste escolhido foi\"+ \" \" + tipo_teste;\nglobal.set('tipo_teste', tipo_teste);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":240,"wires":[["2bf4618f.e75c36"]]},{"id":"d6046b56.b69b7","type":"function","z":"6dc3f0bb.36c81","name":"Retorna método","func":"var metodo_teste = global.get('metodo_teste');\nmsg.payload = \"O método escolhido foi\" + \" \" + metodo_teste;\nglobal.set('metodo_teste', metodo_teste);\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":300,"wires":[["2bf4618f.e75c36","5e5d708d.d9f21"]]},{"id":"38f22727.bedcb8","type":"function","z":"6dc3f0bb.36c81","name":"Retorna motor","func":"var motor = global.get('motor');\nmsg.payload = \"O motor do teste é\" + \" \" + motor;\nglobal.set('motor', motor);\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":460,"wires":[["2bf4618f.e75c36"]]},{"id":"458d821b.e5b2a4","type":"function","z":"6dc3f0bb.36c81","name":"Retorna hélice","func":"var helice = global.get('helice');\nmsg.payload = \"A hélice do teste é\" + \" \" + helice;\nglobal.set('helice', helice);\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":580,"wires":[["2bf4618f.e75c36"]]},{"id":"8023dc2d.3400f","type":"ui_button","z":"6dc3f0bb.36c81","name":"","group":"129f038b.7e6834","order":9,"width":12,"height":1,"passthru":false,"label":"Confirmar","tooltip":"","color":"","bgcolor":"green","icon":"thumb_up","payload":"concatenar","payloadType":"global","topic":"","x":140,"y":760,"wires":[["ed4e06e6.f27ec8"]]},{"id":"2bf4618f.e75c36","type":"function","z":"6dc3f0bb.36c81","name":"teste","func":"var tipo_teste = global.get('tipo_teste')\nvar metodo_teste = global.get('metodo_teste')\nvar motor = global.get('motor')\nvar helice = global.get('helice')\n\nvar teste = tipo_teste + metodo_teste + helice + motor;\nconcatenar = [tipo_teste,metodo_teste,motor,helice];\nglobal.set('concatenar', concatenar);\nglobal.set('teste', teste)\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":440,"wires":[[]]},{"id":"c3102e26.9a3fb","type":"ui_button","z":"6dc3f0bb.36c81","name":"Motor","group":"129f038b.7e6834","order":5,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#87A980","icon":"flight","payload":"","payloadType":"str","topic":"","x":150,"y":1060,"wires":[[]]},{"id":"5020bf25.4efb88","type":"ui_button","z":"6dc3f0bb.36c81","name":"Hélice","group":"129f038b.7e6834","order":7,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#FFCC66","icon":"toys","payload":"","payloadType":"str","topic":"","x":150,"y":1180,"wires":[[]]},{"id":"da19ad70.4b316","type":"ui_button","z":"6dc3f0bb.36c81","name":"Metodo","group":"129f038b.7e6834","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#DAC4B4","icon":"view_list","payload":"","payloadType":"str","topic":"","x":160,"y":1140,"wires":[[]]},{"id":"470b1f16.5f922","type":"link out","z":"6dc3f0bb.36c81","name":"","links":["6bb5987e.c74748","76109d2f.c0ff1c","a4a59900.8175b8","7ccca92d.42ed1","16ffef69.dcd909","be67008b.897128","3616df69.f15dc8","c875b14c.428778","68a73c0d.79bedc","81008bb2.ba2d28","865e31a3.d82b8","418a7cec.e7f5a4"],"x":180,"y":540,"wires":[]},{"id":"36e7568e.51257a","type":"ui_button","z":"e45fea15.9c4e3","name":"","group":"1e52356.f784f4b","order":5,"width":10,"height":1,"passthru":false,"label":"Sensor de Temperatura","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":400,"wires":[[]]},{"id":"6b1ed06c.14a04","type":"ui_button","z":"e45fea15.9c4e3","name":"","group":"1e52356.f784f4b","order":3,"width":10,"height":1,"passthru":false,"label":"Sensor de Pressão","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":460,"wires":[[]]},{"id":"fd84e8f5.53e74","type":"ui_button","z":"e45fea15.9c4e3","name":"","group":"1e52356.f784f4b","order":7,"width":10,"height":1,"passthru":false,"label":"Célula de Carga","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":580,"wires":[[]]},{"id":"5e9c363a.485ca8","type":"ui_button","z":"e45fea15.9c4e3","name":"","group":"1e52356.f784f4b","order":9,"width":10,"height":1,"passthru":false,"label":"Tubo de Pitot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":520,"wires":[[]]},{"id":"e5e5639c.d823c","type":"ui_button","z":"e45fea15.9c4e3","name":"Iniciar calibração","group":"1e52356.f784f4b","order":1,"width":10,"height":1,"passthru":false,"label":"Iniciar verificação ","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":260,"wires":[["2633da85.cb8586"]]},{"id":"9b28fb2e.1b7818","type":"ui_button","z":"e45fea15.9c4e3","name":"Icone de Calibração","group":"1e52356.f784f4b","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"green","icon":"flight_takeoff","payload":"","payloadType":"str","topic":"","x":140,"y":320,"wires":[[]]},{"id":"2633da85.cb8586","type":"exec","z":"e45fea15.9c4e3","command":"python3 calibration_pressure_sensor.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":520,"y":260,"wires":[["223156fe.82d5b2"],[],[]]},{"id":"223156fe.82d5b2","type":"function","z":"e45fea15.9c4e3","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar temp = (Number(partsOfStr[0]));\nvar press = (Number(partsOfStr[1]));\nvar press_mar = (Number(partsOfStr[2]));\nvar altitude = (Number(partsOfStr[3]));\n\nif (temp && press && press_mar && altitude === 0){\n    msg.payload = 'Not OK';\n}\nelse{\n    msg.payload = 'OK';\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":260,"wires":[["b6fc7e9f.0cde6"]]},{"id":"b6fc7e9f.0cde6","type":"switch","z":"e45fea15.9c4e3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Not OK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":850,"y":320,"wires":[["8f5b3514.dccc4"],["157b7f32.6c7bc9","e5594d94.1cd5c"]]},{"id":"157b7f32.6c7bc9","type":"ui_text","z":"e45fea15.9c4e3","group":"1e52356.f784f4b","order":4,"width":1,"height":1,"name":"Pressão Passou","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":440,"wires":[]},{"id":"8f5b3514.dccc4","type":"debug","z":"e45fea15.9c4e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":180,"wires":[]},{"id":"fef6c176.c62ab8","type":"link in","z":"e45fea15.9c4e3","name":"","links":["3f37c34.b6b0fbc"],"x":895,"y":500,"wires":[["157b7f32.6c7bc9","9cc68445.452db"]]},{"id":"e5594d94.1cd5c","type":"exec","z":"e45fea15.9c4e3","command":"python3 temperature_sensor.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1150,"y":340,"wires":[["9986b3b1.c55198"],[],[]]},{"id":"9986b3b1.c55198","type":"function","z":"e45fea15.9c4e3","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar temp = (Number(partsOfStr[0]));\n\nif (temp === 0){\n    msg.payload = 'Not OK';\n}\nelse{\n    msg.payload = 'OK';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":420,"wires":[["ee4addca.6425c"]]},{"id":"ee4addca.6425c","type":"switch","z":"e45fea15.9c4e3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Not OK","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1430,"y":380,"wires":[[],["9cc68445.452db","b60d8192.69dc78"]]},{"id":"9cc68445.452db","type":"ui_text","z":"e45fea15.9c4e3","group":"1e52356.f784f4b","order":6,"width":1,"height":1,"name":"Temperatura OK","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1580,"y":460,"wires":[]},{"id":"90002b0f.ac4c78","type":"exec","z":"e45fea15.9c4e3","command":"export DISPLAY=:0 && lxterminal -e python3 /home gui.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1480,"y":780,"wires":[[],[],[]]},{"id":"cdc2e0c6.61ce08","type":"inject","z":"e45fea15.9c4e3","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":780,"wires":[["90002b0f.ac4c78"]]},{"id":"b60d8192.69dc78","type":"exec","z":"e45fea15.9c4e3","command":"python3 raw_load_cell.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1750,"y":620,"wires":[["83223509.ad0df8"],[],[]]},{"id":"83223509.ad0df8","type":"function","z":"e45fea15.9c4e3","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar tracao = (Number(partsOfStr[0]));\nflow.set(\"tracao\", tracao)\n\nif (tracao === 0){\n    msg.payload = false;\n}\nelse{\n    msg.payload = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":620,"wires":[["16f3a3b6.016ab4"]]},{"id":"16f3a3b6.016ab4","type":"switch","z":"e45fea15.9c4e3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":620,"wires":[["9d8a74c1.98772"],[]]},{"id":"d6cc431.be66e4","type":"ui_button","z":"6dc3f0bb.36c81","name":"Teste","group":"129f038b.7e6834","order":1,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#A6BBCF","icon":"flight_takeoff","payload":"","payloadType":"str","topic":"","x":150,"y":1100,"wires":[[]]},{"id":"fe7ea4f0.d64498","type":"ui_text","z":"e45fea15.9c4e3","group":"1e52356.f784f4b","order":8,"width":1,"height":1,"name":"Celula de Carga OK","label":"","format":"{{msg.payload}}","layout":"row-spread","x":2400,"y":740,"wires":[]},{"id":"d7a14a91.3f99f8","type":"link in","z":"e45fea15.9c4e3","name":"","links":["3f37c34.b6b0fbc"],"x":2115,"y":780,"wires":[["fe7ea4f0.d64498"]]},{"id":"70b0b5c8.f5e7a4","type":"exec","z":"d046cfc3.2c33f","command":"python3 -u offset_load_cell.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":570,"y":140,"wires":[["cfa506f8.9fa398"],[],[]]},{"id":"cfa506f8.9fa398","type":"function","z":"d046cfc3.2c33f","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\nvar offset = (Number(partsOfStr[0]));\n\noffset = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["d5121c40.4254a"]]},{"id":"7c28c949.84993","type":"change","z":"d046cfc3.2c33f","name":"","rules":[{"t":"set","p":"offset","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":200,"wires":[["b050470.b4ca438","d3eb0037.78e44"]]},{"id":"39884cf3.0269d4","type":"exec","z":"d046cfc3.2c33f","command":"python3 -u raw_load_cell.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1660,"y":140,"wires":[["1613ca87.42e625"],[],[]]},{"id":"1613ca87.42e625","type":"function","z":"d046cfc3.2c33f","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\nvar tracao = (Number(partsOfStr[0]));\n\nmsg.payload = tracao;\n\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":140,"wires":[["3a20f098.e3607"]]},{"id":"56202763.f7f188","type":"ui_button","z":"d046cfc3.2c33f","name":"","group":"efeab544.29a578","order":1,"width":15,"height":1,"passthru":false,"label":"Iniciar calibração","tooltip":"","color":"","bgcolor":"green","icon":"touch_app","payload":"true","payloadType":"bool","topic":"","x":270,"y":140,"wires":[["70b0b5c8.f5e7a4"]]},{"id":"b050470.b4ca438","type":"ui_text","z":"d046cfc3.2c33f","group":"efeab544.29a578","order":2,"width":5,"height":1,"name":"offset","label":"Offset:","format":"{{msg.payload}}","layout":"row-left","x":1210,"y":200,"wires":[]},{"id":"6f729d8.85710e4","type":"debug","z":"d046cfc3.2c33f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2070,"y":280,"wires":[]},{"id":"d5121c40.4254a","type":"change","z":"d046cfc3.2c33f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":140,"wires":[["7c28c949.84993"]]},{"id":"3a20f098.e3607","type":"change","z":"d046cfc3.2c33f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2090,"y":140,"wires":[["434e3cb6.52195c"]]},{"id":"434e3cb6.52195c","type":"change","z":"d046cfc3.2c33f","name":"","rules":[{"t":"set","p":"tracao","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":140,"wires":[["37714e85.93f8ea"]]},{"id":"37714e85.93f8ea","type":"function","z":"d046cfc3.2c33f","name":"","func":"var tracao = global.get('tracao');\nvar offset = global.get('offset');\nvar peso = global.get('peso');\n\nvar tracao_correta = (tracao - offset)/peso;\n\nif (tracao_correta<0){\n    tracao_correta = 0;\n}\n\nmsg.payload = tracao_correta;\n\nglobal.set('tracao_correta', tracao_correta);\nreturn msg;","outputs":1,"noerr":0,"x":2510,"y":140,"wires":[["9a49dcbe.0851d","ce5a06e4.0220a8","b455d36a.81995"]]},{"id":"9a49dcbe.0851d","type":"while-loop","z":"d046cfc3.2c33f","name":"","condi":"true","x":1410,"y":140,"wires":[[],["39884cf3.0269d4"]]},{"id":"ce5a06e4.0220a8","type":"ui_gauge","z":"d046cfc3.2c33f","name":"","group":"efeab544.29a578","order":9,"width":9,"height":4,"gtype":"gage","title":"Valor puxado","label":"gramas","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2590,"y":260,"wires":[]},{"id":"d3eb0037.78e44","type":"ui_text","z":"d046cfc3.2c33f","group":"efeab544.29a578","order":3,"width":7,"height":1,"name":"coloque carga","label":"","format":"Puxe uma carga conhecida no centro do motor. Aperte ENTER quando colocar.","layout":"row-spread","x":910,"y":300,"wires":[]},{"id":"b6a8075d.a3ab6","type":"ui_text_input","z":"d046cfc3.2c33f","name":"Qual era o valor","label":"","tooltip":"","group":"efeab544.29a578","order":6,"width":5,"height":1,"passthru":true,"mode":"number","delay":300,"topic":"","x":460,"y":620,"wires":[["87f24458.3fdc68"]]},{"id":"87f24458.3fdc68","type":"change","z":"d046cfc3.2c33f","name":"","rules":[{"t":"set","p":"massatarada","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":620,"wires":[[]]},{"id":"2048cc35.e28c4c","type":"exec","z":"d046cfc3.2c33f","command":"python3 -u raw_load_cell.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":520,"wires":[["eca0f68b.8e77d"],[],[]]},{"id":"eca0f68b.8e77d","type":"function","z":"d046cfc3.2c33f","name":"GET DATA MEAN","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\nvar tracao = (Number(partsOfStr[0]));\n\nmsg.payload = tracao;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["77185112.5a4ac8"]]},{"id":"77185112.5a4ac8","type":"change","z":"d046cfc3.2c33f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":520,"wires":[["53d83e4f.0fb3f8"]]},{"id":"53d83e4f.0fb3f8","type":"change","z":"d046cfc3.2c33f","name":"","rules":[{"t":"set","p":"datamean","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":520,"wires":[["c3e8ea7c.122998"]]},{"id":"69e58526.02eeb4","type":"ui_text","z":"d046cfc3.2c33f","group":"efeab544.29a578","order":5,"width":7,"height":1,"name":"Confirmar peso","label":"","format":"{{msg.payload}}","layout":"row-left","x":1680,"y":520,"wires":[]},{"id":"3d6969c8.a5b59e","type":"ui_button","z":"d046cfc3.2c33f","name":"PRESS","group":"efeab544.29a578","order":4,"width":3,"height":1,"passthru":false,"label":"ENTER","tooltip":"","color":"","bgcolor":"green","icon":"touch_app","payload":"true","payloadType":"bool","topic":"","x":140,"y":520,"wires":[["2048cc35.e28c4c"]]},{"id":"c3e8ea7c.122998","type":"change","z":"d046cfc3.2c33f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Confirme o valor colocado em gramas:","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":520,"wires":[["69e58526.02eeb4"]]},{"id":"8b21b7ee.ee48b","type":"ui_button","z":"d046cfc3.2c33f","name":"Recomeçar calibração","group":"efeab544.29a578","order":17,"width":6,"height":1,"passthru":false,"label":"Recomeçar ","tooltip":"","color":"black","bgcolor":"yellow","icon":"restore","payload":"","payloadType":"num","topic":"","x":140,"y":700,"wires":[["fc20f6f6.15abe"]]},{"id":"85e8c474.795ae","type":"ui_button","z":"d046cfc3.2c33f","name":"Confirmar carga colocada","group":"efeab544.29a578","order":7,"width":3,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"green","icon":"check_circle","payload":"massatarada","payloadType":"global","topic":"","x":1270,"y":40,"wires":[["9a49dcbe.0851d"]]},{"id":"31ad114d.51f5c6","type":"ui_button","z":"d046cfc3.2c33f","name":"","group":"efeab544.29a578","order":18,"width":9,"height":1,"passthru":false,"label":"Confirmar calibração","tooltip":"","color":"","bgcolor":"green","icon":"thumb_up","payload":"true","payloadType":"bool","topic":"","x":140,"y":760,"wires":[[]]},{"id":"66b29300.7ec02c","type":"link in","z":"d046cfc3.2c33f","name":"","links":["fc20f6f6.15abe"],"x":295,"y":600,"wires":[["b6a8075d.a3ab6"]]},{"id":"fc20f6f6.15abe","type":"link out","z":"d046cfc3.2c33f","name":"","links":["95c164c3.9d92a8","66b29300.7ec02c","3c670b75.75020c","6f8fc703.de5c78","16105b9e.c2b8c4","4cce8ec5.507a48"],"x":315,"y":700,"wires":[]},{"id":"16105b9e.c2b8c4","type":"link in","z":"d046cfc3.2c33f","name":"","links":["fc20f6f6.15abe"],"x":555,"y":560,"wires":[["eca0f68b.8e77d"]]},{"id":"95c164c3.9d92a8","type":"link in","z":"d046cfc3.2c33f","name":"","links":["fc20f6f6.15abe"],"x":695,"y":340,"wires":[["d3eb0037.78e44"]]},{"id":"6f8fc703.de5c78","type":"link in","z":"d046cfc3.2c33f","name":"","links":["fc20f6f6.15abe"],"x":1075,"y":280,"wires":[["b050470.b4ca438"]]},{"id":"3c670b75.75020c","type":"link in","z":"d046cfc3.2c33f","name":"","links":["fc20f6f6.15abe"],"x":2395,"y":340,"wires":[["ce5a06e4.0220a8"]]},{"id":"4cce8ec5.507a48","type":"link in","z":"d046cfc3.2c33f","name":"","links":["fc20f6f6.15abe"],"x":1555,"y":580,"wires":[["69e58526.02eeb4"]]},{"id":"eb886d07.9f6dc8","type":"ui_button","z":"e45fea15.9c4e3","name":"Restart","group":"1e52356.f784f4b","order":10,"width":0,"height":0,"passthru":false,"label":"Reiniciar","tooltip":"","color":"black","bgcolor":"yellow","icon":"restore","payload":"","payloadType":"num","topic":"","x":100,"y":640,"wires":[["3f37c34.b6b0fbc"]]},{"id":"3f37c34.b6b0fbc","type":"link out","z":"e45fea15.9c4e3","name":"","links":["fef6c176.c62ab8","d7a14a91.3f99f8"],"x":215,"y":640,"wires":[]},{"id":"9d8a74c1.98772","type":"change","z":"e45fea15.9c4e3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2220,"y":700,"wires":[["fe7ea4f0.d64498"]]},{"id":"d78fdbcc.35109","type":"ui_dropdown","z":"760dfb14.3731dc","name":"Rotinas","label":"Tipo de Teste","tooltip":"","place":"Escolha a opção","group":"3e26bae5.c7f52e","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Potência Máxima","type":"str"},{"label":"","value":"Curva de Torque ","type":"str"},{"label":"","value":"Modo Baby","type":"str"},{"label":"","value":"Modo Baby turbo","type":"str"}],"payload":"","topic":"","x":1360,"y":420,"wires":[["70128b7f.22341c","9d1847f1.95bdb8","770a2683.cab49","d280ecf0.6d688","6ad46023.d045d"]]},{"id":"5e5d708d.d9f21","type":"debug","z":"6dc3f0bb.36c81","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1320,"y":260,"wires":[]},{"id":"2f0b2ae6.27d28e","type":"ui_dropdown","z":"760dfb14.3731dc","name":"Open Loop","label":"Tipo de Teste","tooltip":"","place":"Escolha a opção","group":"b4eec92e.11ffd","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Open Loop","type":"str"}],"payload":"","topic":"","x":1390,"y":580,"wires":[["70128b7f.22341c","9cf3f5ab.858908","653173e8.49ab14","6ad46023.d045d"]]},{"id":"291d2ac0.a8ef06","type":"switch","z":"760dfb14.3731dc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open Loop","vt":"str"},{"t":"eq","v":"Rotina","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":480,"wires":[["a50984d5.bc3c78"],["f46f6c95.5a23e"]]},{"id":"70128b7f.22341c","type":"ui_ui_control","z":"760dfb14.3731dc","name":"","events":"all","x":1400,"y":520,"wires":[[]]},{"id":"a50984d5.bc3c78","type":"change","z":"760dfb14.3731dc","name":"Mudar para Loop","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Display_Rotina\",\"Display_Rotinaescolha\"],\"show\":[\"Display_Loop\",\"Display_Loopescolha\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":420,"wires":[["70128b7f.22341c"]]},{"id":"f46f6c95.5a23e","type":"change","z":"760dfb14.3731dc","name":"Mudar para Rotina","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Display_Loop\",\"Display_Loopescolha\"],\"show\":[\"Display_Rotina\",\"Display_Rotinaescolha\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":560,"wires":[["70128b7f.22341c"]]},{"id":"ed4e06e6.f27ec8","type":"link out","z":"6dc3f0bb.36c81","name":"","links":["c697df34.5692f"],"x":275,"y":760,"wires":[]},{"id":"c697df34.5692f","type":"link in","z":"760dfb14.3731dc","name":"","links":["ed4e06e6.f27ec8"],"x":95,"y":220,"wires":[["6ee968ad.15a348"]]},{"id":"6ee968ad.15a348","type":"function","z":"760dfb14.3731dc","name":"Variaveis","func":"str = msg.payload;\nvar Tipo_Teste = str[0];\nvar Metodo_Teste = str[1];\nvar Motor = str[2];\nvar Helice = str[3];\n\nif (Tipo_Teste || Metodo_Teste || Motor || Helice === null){\n    msg.payload=true;\n}\nelse{\n    msg.payload=false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":220,"wires":[["3f645d60.e7b91a"]]},{"id":"3f645d60.e7b91a","type":"switch","z":"760dfb14.3731dc","name":"Avalia input","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":220,"wires":[["7e8e797f.a6c208"],[]]},{"id":"7e8e797f.a6c208","type":"function","z":"760dfb14.3731dc","name":"","func":"var tipo_teste = global.get('tipo_teste');\nvar metodo_teste = global.get('metodo_teste');\nvar motor = global.get('motor');\nvar helice = global.get('helice');\n\nmsg1 = {payload: tipo_teste}\nmsg2 = {payload: metodo_teste}\nmsg3 = {payload: motor}\nmsg4 = {payload: helice}\n\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"x":650,"y":220,"wires":[["90150e46.93108"],["291d2ac0.a8ef06","a3b48c26.03a958"],["ebdcb847.b03af"],["56621b1c.fb0afc"]]},{"id":"90150e46.93108","type":"ui_button","z":"760dfb14.3731dc","name":"Tipo de teste","group":"1285dd49.e3515b","order":2,"width":3,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":910,"y":140,"wires":[[]]},{"id":"5091f979.c32738","type":"ui_button","z":"760dfb14.3731dc","name":"","group":"1285dd49.e3515b","order":1,"width":8,"height":1,"passthru":false,"label":"Você escolheu o tipo de teste:","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":400,"wires":[[]]},{"id":"fcd91259.7bf1a","type":"ui_button","z":"760dfb14.3731dc","name":"Motor","group":"1285dd49.e3515b","order":9,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#87A980","icon":"flight","payload":"","payloadType":"str","topic":"","x":130,"y":560,"wires":[[]]},{"id":"e8e3e20e.d01ab","type":"ui_button","z":"760dfb14.3731dc","name":"Hélice","group":"1285dd49.e3515b","order":12,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#FFCC66","icon":"toys","payload":"","payloadType":"str","topic":"","x":130,"y":680,"wires":[[]]},{"id":"ffea9700.df72f","type":"ui_button","z":"760dfb14.3731dc","name":"Metodo","group":"1285dd49.e3515b","order":6,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#DAC4B4","icon":"view_list","payload":"","payloadType":"str","topic":"","x":140,"y":640,"wires":[[]]},{"id":"e238546.4c36528","type":"ui_button","z":"760dfb14.3731dc","name":"Teste","group":"1285dd49.e3515b","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#A6BBCF","icon":"flight_takeoff","payload":"","payloadType":"str","topic":"","x":130,"y":600,"wires":[[]]},{"id":"8db666ea.aa4168","type":"ui_button","z":"760dfb14.3731dc","name":"","group":"1285dd49.e3515b","order":4,"width":8,"height":1,"passthru":false,"label":"Você escolheu o método:","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":340,"wires":[[]]},{"id":"1b6160d5.bac647","type":"ui_button","z":"760dfb14.3731dc","name":"","group":"1285dd49.e3515b","order":7,"width":8,"height":1,"passthru":false,"label":"Motor a ser testado:","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":460,"wires":[[]]},{"id":"64c18b3a.f3e5e4","type":"ui_button","z":"760dfb14.3731dc","name":"","group":"1285dd49.e3515b","order":10,"width":8,"height":1,"passthru":false,"label":"Hélice a ser testada:","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":500,"wires":[[]]},{"id":"a3b48c26.03a958","type":"ui_button","z":"760dfb14.3731dc","name":"Metodo de teste","group":"1285dd49.e3515b","order":5,"width":3,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":920,"y":200,"wires":[[]]},{"id":"ebdcb847.b03af","type":"ui_button","z":"760dfb14.3731dc","name":"Motor","group":"1285dd49.e3515b","order":8,"width":3,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":890,"y":260,"wires":[[]]},{"id":"56621b1c.fb0afc","type":"ui_button","z":"760dfb14.3731dc","name":"Hélice","group":"1285dd49.e3515b","order":11,"width":3,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":890,"y":320,"wires":[[]]},{"id":"b455d36a.81995","type":"link out","z":"d046cfc3.2c33f","name":"Celula","links":["fda33f34.efcd3"],"x":2675,"y":140,"wires":[]},{"id":"4dd880f6.4ee438","type":"exec","z":"760dfb14.3731dc","command":"python3 calibration_pressure_sensor.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":760,"y":720,"wires":[["432a174e.c0606"],[],[]]},{"id":"432a174e.c0606","type":"function","z":"760dfb14.3731dc","name":"","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar temp = (Number(partsOfStr[0]));\nvar press = (Number(partsOfStr[1]));\nvar press_mar = (Number(partsOfStr[2]));\nvar altitude = (Number(partsOfStr[3]));\n\nmsg1 = {payload: temp}\nmsg2 = {payload: press}\nmsg3 = {payload: press_mar}\nmsg4 = {payload: altitude}\n\nreturn [msg1, msg2, msg3, msg4];\n","outputs":4,"noerr":0,"x":1010,"y":720,"wires":[[],[],[],[]]},{"id":"6b7e5d6a.5d2f4c","type":"inject","z":"760dfb14.3731dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":490,"y":720,"wires":[["4dd880f6.4ee438"]]},{"id":"9d1847f1.95bdb8","type":"ui_text","z":"760dfb14.3731dc","group":"638d889c.647d","order":1,"width":0,"height":0,"name":"Modo Potencia Máxima","label":"Modo potencia máxima: motor é colocado em 100% por 1 minuto.","format":"","layout":"row-spread","x":1600,"y":260,"wires":[]},{"id":"770a2683.cab49","type":"ui_text","z":"760dfb14.3731dc","group":"638d889c.647d","order":2,"width":0,"height":0,"name":"Modo Curva de Torque","label":"Modo Curva de Torque: perfeito para analisar a eficiência de sua hélice. ","format":"","layout":"row-spread","x":1600,"y":320,"wires":[]},{"id":"d280ecf0.6d688","type":"ui_text","z":"760dfb14.3731dc","group":"638d889c.647d","order":3,"width":0,"height":0,"name":"Modo Baby","label":"Modo Baby: é uma maneira de analisar o comportamento do motor em baixos torques.","format":"","layout":"row-spread","x":1570,"y":380,"wires":[]},{"id":"9cf3f5ab.858908","type":"ui_text","z":"760dfb14.3731dc","group":"f0dad106.0e302","order":1,"width":0,"height":0,"name":"Modo Open Loop","label":"Modo Open Loop: Aqui o controle é todo seu! Por meio de um potenciômetro, a potência do motor será controlada totalmente pelo usuário. Teste o sistema.","format":"","layout":"row-spread","x":1590,"y":620,"wires":[]},{"id":"653173e8.49ab14","type":"ui_slider","z":"760dfb14.3731dc","name":"","label":"Deslize o botão","tooltip":"","group":"f0dad106.0e302","order":2,"width":5,"height":2,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"1","x":1580,"y":680,"wires":[["bc49404b.fc876"]]},{"id":"bc49404b.fc876","type":"ui_gauge","z":"760dfb14.3731dc","name":"","group":"f0dad106.0e302","order":3,"width":8,"height":2,"gtype":"gage","title":"Potência do Motor","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1810,"y":680,"wires":[]},{"id":"267892ae.5d9876","type":"exec","z":"760dfb14.3731dc","command":"python3 sensor_corrente.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":900,"wires":[["3931b4c5.739d1c"],[],[]]},{"id":"f0c4fa7a.da4458","type":"inject","z":"760dfb14.3731dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":900,"wires":[["267892ae.5d9876"]]},{"id":"3931b4c5.739d1c","type":"function","z":"760dfb14.3731dc","name":"Sensor de Corrente","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar corrente = (Number(partsOfStr[0]));\n\nmsg.payload = corrente;\nreturn msg;\n","outputs":1,"noerr":0,"x":1040,"y":900,"wires":[["d00f4909.c4f74"]]},{"id":"c0c3f24.e1da39","type":"exec","z":"760dfb14.3731dc","command":"python3 sensor_tensao.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":1000,"wires":[["3eb8d770.465f"],[],[]]},{"id":"74aec47e.727064","type":"inject","z":"760dfb14.3731dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":1000,"wires":[["c0c3f24.e1da39"]]},{"id":"3eb8d770.465f","type":"function","z":"760dfb14.3731dc","name":"Sensor de Tensão","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar tensao = (Number(partsOfStr[0]));\n\nmsg.payload = tensao;\nreturn msg;\n","outputs":1,"noerr":0,"x":1030,"y":980,"wires":[["6f6729bf.9ba3b"]]},{"id":"a488dedc.c56b2","type":"function","z":"760dfb14.3731dc","name":"Tração","func":"var tracao = global.get('tracao');\nmsg.payload = tracao*9.81;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1160,"wires":[[]]},{"id":"318a5276.df1f3e","type":"inject","z":"760dfb14.3731dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":480,"y":1160,"wires":[["a488dedc.c56b2"]]},{"id":"a366b95a.fde8a","type":"inject","z":"760dfb14.3731dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":450,"y":1080,"wires":[["722c56e0.bc5af"]]},{"id":"722c56e0.bc5af","type":"function","z":"760dfb14.3731dc","name":"Potência","func":"var corrente = global.get('corrente');\nvar tensao = global.get('tensao');\nvar potencia = corrente*tensao;\nmsg.payload = potencia\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1080,"wires":[["4e7af004.287b68"]]},{"id":"d00f4909.c4f74","type":"change","z":"760dfb14.3731dc","name":"","rules":[{"t":"set","p":"corrente","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":900,"wires":[[]]},{"id":"bfbd5ee2.595","type":"change","z":"760dfb14.3731dc","name":"","rules":[{"t":"set","p":"tensao","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":980,"wires":[[]]},{"id":"bcd6757e.f26048","type":"smooth","z":"760dfb14.3731dc","name":"","property":"payload","action":"low","count":"10","round":"2","mult":"single","reduce":false,"x":1220,"y":900,"wires":[[]]},{"id":"6f6729bf.9ba3b","type":"smooth","z":"760dfb14.3731dc","name":"","property":"payload","action":"low","count":"10","round":"2","mult":"single","reduce":false,"x":1200,"y":980,"wires":[["bfbd5ee2.595"]]},{"id":"4e7af004.287b68","type":"smooth","z":"760dfb14.3731dc","name":"","property":"payload","action":"low","count":"1","round":"2","mult":"single","reduce":false,"x":780,"y":1080,"wires":[[]]},{"id":"91b8bdb2.9a79","type":"pi-gpiod out","z":"6c53f7a3.674208","name":"BLDC PWM","host":"localhost","port":8888,"pin":"16","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","x":1010,"y":20,"wires":[]},{"id":"8f1c7cf2.29a47","type":"function","z":"6c53f7a3.674208","name":"Minimum Throttle","func":"var minimum;\nminimum = 0;\nmsg.payload = minimum;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":200,"wires":[["a44c3084.32f5d","32f50694.fe8c5a"]]},{"id":"a44c3084.32f5d","type":"delay","z":"6c53f7a3.674208","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":200,"wires":[["b6523244.206fd"]]},{"id":"8104d307.59c56","type":"delay","z":"6c53f7a3.674208","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":200,"wires":[["8f1c7cf2.29a47"]]},{"id":"613b5e7d.bcfb","type":"function","z":"6c53f7a3.674208","name":"Maximum Throttle","func":"var minimum;\nminimum = 100;\nmsg.payload = minimum;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[["7f7bcc43.2762c4","ad1d22bb.49943"]]},{"id":"32a63167.a2af4e","type":"link in","z":"6c53f7a3.674208","name":"","links":["7f7bcc43.2762c4","32f50694.fe8c5a","fbc2f6cd.143a78","e03300d5.1f2e8","e6d2a3fa.5fdda","8006450e.4fc488","ddce3c48.991ec","3e0ada5b.6780f6","8d5aa44f.0f3cc8","ffb51a99.cac4e8","409b9234.1607cc","135042be.a3babd","42338725.599218","1ef9f4a0.15394b","d387f95c.7b1408","72ba9a4.649db64","5f7fcf18.486ba","4ee56741.b03a48"],"x":855,"y":20,"wires":[["91b8bdb2.9a79"]]},{"id":"7f7bcc43.2762c4","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":775,"y":140,"wires":[]},{"id":"32f50694.fe8c5a","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":1355,"y":140,"wires":[]},{"id":"453fc0a.de6f04","type":"ui_button","z":"6c53f7a3.674208","name":"","group":"cf5ef35d.d04a78","order":1,"width":26,"height":1,"passthru":false,"label":"INICIAR TESTE","tooltip":"","color":"","bgcolor":"green","icon":"touch_app","payload":"true","payloadType":"bool","topic":"","x":80,"y":200,"wires":[["ee3a224a.2d745"]]},{"id":"ee3a224a.2d745","type":"function","z":"6c53f7a3.674208","name":"Battery_Voltage","func":"var battery_voltage = global.get('tensao');\nmsg.payload = battery_voltage;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["a4c218ee.5b4d48"]]},{"id":"a4c218ee.5b4d48","type":"switch","z":"6c53f7a3.674208","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"7.6","vt":"str"},{"t":"lte","v":"7.6","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":200,"wires":[["613b5e7d.bcfb"],["613b5e7d.bcfb"]]},{"id":"b843e546.36ff48","type":"pi-gpiod out","z":"6c53f7a3.674208","name":"Relay GND","host":"localhost","port":8888,"pin":"20","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","x":1010,"y":80,"wires":[]},{"id":"ad1d22bb.49943","type":"function","z":"6c53f7a3.674208","name":"High signal to Transistor","func":"var relay;\nrelay = 1;\nmsg.payload = relay;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":200,"wires":[["8104d307.59c56","1e913499.86067b"]]},{"id":"27a00b49.cfe0f4","type":"link in","z":"6c53f7a3.674208","name":"","links":["1e913499.86067b"],"x":855,"y":80,"wires":[["b843e546.36ff48"]]},{"id":"1e913499.86067b","type":"link out","z":"6c53f7a3.674208","name":"","links":["27a00b49.cfe0f4"],"x":1015,"y":140,"wires":[]},{"id":"3513ebba.67e1f4","type":"ui_slider","z":"6c53f7a3.674208","name":"Controle do Motor","label":"Controle do Motor","tooltip":"","group":"cf5ef35d.d04a78","order":2,"width":26,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":1730,"y":140,"wires":[["ddce3c48.991ec"]]},{"id":"ddce3c48.991ec","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":1855,"y":80,"wires":[]},{"id":"f2342c9c.4d46b","type":"function","z":"6c53f7a3.674208","name":"Modo Baby - step 1","func":"var baby;\nbaby = 10;\nmsg.payload = baby;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":320,"wires":[["95956c9d.75c22","3e0ada5b.6780f6"]]},{"id":"95956c9d.75c22","type":"delay","z":"6c53f7a3.674208","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":320,"wires":[["4a67d790.9d68c8"]]},{"id":"4a67d790.9d68c8","type":"function","z":"6c53f7a3.674208","name":"Modo Baby - step 2","func":"var baby;\nbaby = 20;\nmsg.payload = baby;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["7113533a.0d467c","8d5aa44f.0f3cc8"]]},{"id":"7113533a.0d467c","type":"delay","z":"6c53f7a3.674208","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":320,"wires":[["ef17ff0a.648b2"]]},{"id":"ef17ff0a.648b2","type":"function","z":"6c53f7a3.674208","name":"Modo Baby - step 3","func":"var baby;\nbaby = 30;\nmsg.payload = baby;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":320,"wires":[["f8caff01.4854d","ffb51a99.cac4e8"]]},{"id":"f8caff01.4854d","type":"delay","z":"6c53f7a3.674208","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":320,"wires":[["a685f5a9.2e5e68"]]},{"id":"3e0ada5b.6780f6","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":215,"y":280,"wires":[]},{"id":"8d5aa44f.0f3cc8","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":555,"y":280,"wires":[]},{"id":"ffb51a99.cac4e8","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":895,"y":280,"wires":[]},{"id":"a685f5a9.2e5e68","type":"function","z":"6c53f7a3.674208","name":"Modo Baby - step 4","func":"var baby;\nbaby = 0;\nmsg.payload = baby;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":320,"wires":[["409b9234.1607cc"]]},{"id":"409b9234.1607cc","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":1235,"y":280,"wires":[]},{"id":"666b2e75.dc7c2","type":"function","z":"6c53f7a3.674208","name":"Modo Turbo - step 1","func":"var baby;\nbaby = 50;\nmsg.payload = baby;\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":440,"wires":[["94ee87d9.63d438","d387f95c.7b1408"]]},{"id":"94ee87d9.63d438","type":"delay","z":"6c53f7a3.674208","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":440,"wires":[["c00fa065.54d1b"]]},{"id":"c00fa065.54d1b","type":"function","z":"6c53f7a3.674208","name":"Modo Turbo - step 2","func":"var baby;\nbaby = 60;\nmsg.payload = baby;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":440,"wires":[["e7af1766.b48618","72ba9a4.649db64"]]},{"id":"e7af1766.b48618","type":"delay","z":"6c53f7a3.674208","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":440,"wires":[["78b956be.bb2b48"]]},{"id":"78b956be.bb2b48","type":"function","z":"6c53f7a3.674208","name":"Modo Turbo - step 3","func":"var baby;\nbaby = 70;\nmsg.payload = baby;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":440,"wires":[["519df35.1a8910c","5f7fcf18.486ba"]]},{"id":"519df35.1a8910c","type":"delay","z":"6c53f7a3.674208","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":440,"wires":[["62a26689.2afad8"]]},{"id":"d387f95c.7b1408","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":215,"y":400,"wires":[]},{"id":"72ba9a4.649db64","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":555,"y":400,"wires":[]},{"id":"5f7fcf18.486ba","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":895,"y":400,"wires":[]},{"id":"62a26689.2afad8","type":"function","z":"6c53f7a3.674208","name":"Modo Turbo - step 4","func":"var baby;\nbaby = 0;\nmsg.payload = baby;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":440,"wires":[["4ee56741.b03a48"]]},{"id":"4ee56741.b03a48","type":"link out","z":"6c53f7a3.674208","name":"","links":["32a63167.a2af4e"],"x":1275,"y":400,"wires":[]},{"id":"6ad46023.d045d","type":"change","z":"760dfb14.3731dc","name":"","rules":[{"t":"set","p":"modo_escolhido","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":460,"wires":[["5b32b1b.e5cef5"]]},{"id":"5b32b1b.e5cef5","type":"function","z":"760dfb14.3731dc","name":"Retorna Teste","func":"var modo_escolhido = global.get('modo_escolhido');\nmsg.payload = modo_escolhido;\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":460,"wires":[["bb37b67.1679948"]]},{"id":"b6523244.206fd","type":"switch","z":"6c53f7a3.674208","name":"","property":"modo_escolhido","propertyType":"global","rules":[{"t":"eq","v":"Open Loop","vt":"str"},{"t":"eq","v":"Modo Baby","vt":"str"},{"t":"eq","v":"Potência Máxima","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1550,"y":200,"wires":[["3513ebba.67e1f4","a2c939b5.7eab28"],["f2342c9c.4d46b","a2c939b5.7eab28"],["666b2e75.dc7c2","a2c939b5.7eab28"]]},{"id":"bb37b67.1679948","type":"debug","z":"760dfb14.3731dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2040,"y":460,"wires":[]},{"id":"a2c939b5.7eab28","type":"debug","z":"6c53f7a3.674208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1700,"y":400,"wires":[]}]
