NodeRed_flow
[{"id":"469b1a3.f3bf364","type":"tab","label":"Database","disabled":false,"info":""},{"id":"6495cc50.8487d4","type":"ui_slider","z":"469b1a3.f3bf364","name":"","label":"Duty Cycle","tooltip":"","group":"20b7d0bd.c079","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":290,"y":540,"wires":[["5ce55bd9.1db6b4","2a703351.70985c"]]},{"id":"5ce55bd9.1db6b4","type":"rpi-gpio out","z":"469b1a3.f3bf364","name":"","pin":"38","set":"","level":"0","freq":"100","out":"pwm","x":500,"y":540,"wires":[]},{"id":"2a703351.70985c","type":"ui_text","z":"469b1a3.f3bf364","group":"20b7d0bd.c079","order":2,"width":6,"height":1,"name":"","label":"Duty Cycle (%)","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":460,"wires":[]},{"id":"20b7d0bd.c079","type":"ui_group","z":"","name":"PWM","tab":"dd86238.30ebee","order":1,"disp":true,"width":12,"collapse":false},{"id":"dd86238.30ebee","type":"ui_tab","z":"","name":"Teste PWM","icon":"dashboard","order":6,"disabled":false,"hidden":false}]
